<!DOCTYPE html>
<!--suppress ALL -->
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<!--     layout:decorate="~{layout/private/private_admin_layout.html}"-->
<head>

    <title th:text="#{t.EmailTemplates}"></title>

    <link th:if="${false}" rel="stylesheet" type="text/css" media="screen"
          href="../../../../static/css/icons/icomoon/style.css"/>

    <link th:if="${false}" rel="stylesheet" type="text/css" media="screen"
          href="../../../../static/css/bootstrap.css"/>

    <link th:if="${false}" rel="stylesheet" type="text/css" media="screen"
          href="../../../../static/css/app.css"/>
    <script th:inline="javascript">




    </script>

</head>

<body>

<!--/* -----------------------------------------------------------------------------------------------------------------
page_content++
------------------------------------------------------------------------------------------------------------------ */-->
<div>

    <!--/* --------------------------------------------------------------------
    page-header - Showing the name of the report and help button.
    --------------------------------------------------------------------- */-->

    <div id="page-header">

        <div class="row">

            <div class="page-header-element page-header-title col-md-9">
                <h1>
                    <i class="icon-circle-right mr-2"></i>
                    <span th:text="#{t.EmailTemplates}"></span>
                    <span class="heading-sub"></span>
                </h1>
            </div> <!-- .page-header-element -->
            <div class="page-header-element col-md-3 print-hide">
                <div class="float-right">
                    <button class="btn btn-success float-right" id="report-help-button" data-bs-toggle="modal" data-bs-target="#report-help-modal">
                        <i class="icon-question"></i>
                        <span th:text="#{t.Help}">Help</span>
                    </button>
                    <button class="btn btn-info print-button mr-2">
                        <i class="icon-printer"></i>
                        <span th:text="#{t.Print}">Print</span>
                    </button>
                </div>
            </div> <!-- .page-header-element -->

        </div> <!-- .row -->

    </div> <!-- #page-header -->


    <!--/* --------------------------------------------------------------------
    Report Content
    --------------------------------------------------------------------- */-->

    <div class="card report-card" >

        <h2 class="card-header card-header-practices" th:text="#{t.EmailTemplates}">Email Templates</h2>
        <div class="card-block" th:if="${hasItems}">


                <div class="row" style="white-space: nowrap; overflow-x: auto">

                    <div class="col-lg-10 col-md-9 col-sm-8 col-sm-12">

                        <table class="table table-bordered table-hover standard-table report-table header-fixed">
                            <thead>
                                <tr class="table-header-fixed">
                                    <th th:text="#{t.TemplateName}"></th>
                                    <th th:text="#{t.Language}"></th>
                                    <th th:text="#{t.Subject}"></th>
                                    <th th:text="#{t.Action}" style="width:120px;"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="row, istat: ${templates}">
                                    <th:block th:if="${row!=null}">
                                        <td th:text="${row?.name}">Title</td>
                                        <td th:text="${row?.languageLabel}">Language</td>
                                        <td th:text="${row?.subject}">Subject</td>
                                        <td>
                                            <button class="btn btn-primary" th:text="#{t.EditTemplate}"
                                                    th:attr="onclick=${'window.location.href=''/admin/email-templates/edit/'+row.id+''';'}"></button>
                                        </td>
                                    </th:block>
                                </tr>
                            </tbody>
                        </table>

                    </div>

                </div> <!-- row with horizontal overflow -->
        </div>
        <div class="card-block" th:unless="${hasItems}">
                <p th:text="#{t.NoEmailTemplates}">No Email Templates Items.</p>
        </div>

        <div class="card-block">
            <h2 class="card-header card-header-practices" th:text="#{t.AddTemplate}">Add Templates</h2>
            <div class="card card-block">
                <form th:action="${'/email-templates/add'}" th:method="post" th:object="${templateForm}">
                <input type="hidden" name="id" value="0"/>
                <button class="btn btn-primary float-right mt-2" th:text="#{t.AddTemplate}" type="submit"></button>

                <div class="form-group col-xl-2 col-lg-2 col-md-3 col-sm-6" id="templateBody-name-div" th:classappend="${#fields.hasErrors('name') ? 'has-danger':''}" style="padding-left: 0px;">
                    <label for="templateBody-name-input" th:text="#{t.TemplateName}">Report Name</label>
                    <input name="name" type="text" th:field="*{name}"  id="templateBody-name-input" class="form-control"/>
                    <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="text-danger help-block error-templateName" ></span>
                </div>
                <div class="form-group col-xl-2 col-lg-2 col-md-3 col-sm-4" id="language-selection" th:classappend="${#fields.hasErrors('language') ? 'has-danger':''}" style="padding-left: 0px;">
                    <label for="selected-language-display" th:text="#{t.Language}">Language</label>
                    <select th:field="*{language}" id="selected-language-display" class="form-control">
                        <th:block th:each="language : ${languages}">
                            <th:block th:if="${language.code>=0}">
                               <option th:value="${language.value}">
                                    <span th:text="${language.label}">Language</span>
                                </option>
                             </th:block>
                        </th:block>
                    </select>
                    <span th:if="${#fields.hasErrors('language')}" th:errors="*{language}" class="text-danger help-block error-language" ></span>
                </div>
                <div class="form-group" style="min-width: 80%; max-width: 80%;" id="templateBody-name-div" th:classappend="${#fields.hasErrors('subject') ? 'has-danger':''}" >
                    <label for="templateBody-name-input" th:text="#{t.Subject}">Subject</label>
                    <input name="name" type="text" th:field="*{subject}"  id="template-subject-input" class="form-control"/>
                    <span th:if="${#fields.hasErrors('subject')}" th:errors="*{name}" class="text-danger help-block error-subject" ></span>
                </div>
                <div class="form-group"  id="report-body-div" th:classappend="${#fields.hasErrors('templateBody') ? 'has-danger':''}" >
                    <label for="template-body-textarea" th:text="#{t.TemplateBody}">Template Body</label>
                    <center><span th:if="${#fields.hasErrors('templateBody')}" th:errors="*{templateBody}" class="text-danger help-block error-templateBody" ></span></center>
                    <textarea name="templateBody" type="text" cols="120" style="min-width: 80%; max-width: 80%;" rows="20" th:field="*{templateBody}" id="template-body-textarea" class="form-control"/>
                </div>
            </form>
            </div>
        </div>
    </div>

    <!--/* --------------------------------------------------------------------
    Help Modal
    --------------------------------------------------------------------- */-->

    <div class="modal fade help-modal print-hide" id="report-help-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" th:text="${'Edit Email Template'}">Page Name</h3>
                    <button type="button" class="close print-hide" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div th:replace="admin/private/help/email_templates/manage :: en"></div>
            </div>
        </div>
    </div>


</div> <!-- layout:fragment="page_content" -->





<!--/* -----------------------------------------------------------------------------------------------------------------
page_content--
------------------------------------------------------------------------------------------------------------------ */-->

<th:block layout:fragment="bottom_script">

</th:block> <!-- bottom_script -->

</body>
</html>