<!DOCTYPE html>
<!--suppress ALL -->
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>

    <title th:text="#{t.ChangePassword}">Forgotten Password Changed </title>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- link rel="icon" href="../../favicon.ico"/-->
    <script src="/public-js/jquery-3.6.1.min.js"></script>

    <link rel="stylesheet" type="text/css" media="screen"
          href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" />


</head>

<body>

<!--/* ---------------------------------------------------------------------------------------------
page_content++
---------------------------------------------------------------------------------------------- */-->
<div layout:fragment="page_content">


    <div class="password-changed-confirmation">
        <div id="login-panel">

            <div class="left">
                <h1><a href="/"></a></h1>
                <h2>Welcome to your dedicated twitter marketing platform</h2>
                <p>A secure, responsive way to market your business</p>
            </div>
            <div class="right">
                <div class="card-block">
                    <h2>You have successfully changed your password.</h2>
                    <a href="/login" class="btn btn-primary">Click here to proceed with the login.</a>
                </div>
            </div>
        </div>
    </div>

</div>


</div> <!-- layout:fragment="page_content" -->
<!--/* ---------------------------------------------------------------------------------------------
page_content--
---------------------------------------------------------------------------------------------- */-->
- bottom_script -->

</body>
</html>

