<!DOCTYPE html>
<!--suppress ALL -->
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<head>

    <title th:text="#{t.ChangePassword}">Update Forgotten Password</title>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- link rel="icon" href="../../favicon.ico"/-->
    <script src="/public-js/jquery-3.6.1.min.js"></script>

    <link rel="stylesheet" type="text/css" media="screen"
          href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" />

</head>

<body>

<!--/* ---------------------------------------------------------------------------------------------
page_content++
---------------------------------------------------------------------------------------------- */-->
<div layout:fragment="page_content">


    <div class="change-password">
        <div id="login-panel">
            <th:block  th:if="${null != param.error}">
                <div class="alert alert-danger">
                    <span th:text="${param.error[0]}"> Username or Password incorrect </span>
                </div>

            </th:block>
            <div class="left">
                <h1><a href="/"></a></h1>
                <h2>Welcome to your dedicated twitter marketing platform</h2>

            </div>
            <div class="right">

                <form id="user-change-password-form" th:object="${changePasswordForm}" action="/adm/prec/change-password" method="post">
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>

                    <input type="hidden" name="id" th:value="*{userId}" />
                    <input type="hidden" name="policy" th:value="*{policy}" />

                    <div th:if="${#fields.hasGlobalErrors()}">
                        <div class="alert alert-danger" role="alert"
                             th:each="globalError : ${#fields.globalErrors()}"
                             th:text="${globalError}">
                        </div>
                    </div>

                    <div class="alert alert-danger" th:if="${#fields.hasErrors('*')}">
                        <p th:each="err : ${#fields.errors('*')}" th:text="${err}"></p>
                    </div>

                    <div class="row">

                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="current">New Password</label>
                                <input type="password" class="form-control" id="neww" th:field="*{neww}">
                            </div>

                            <div id="password-strength-wrapper">
                                <div id="password-strength">
                                    <span id="ps-1" class="ps-white"></span>
                                    <span id="ps-2" class="ps-white"></span>
                                    <span id="ps-3" class="ps-white"></span>
                                    <span id="ps-4" class="ps-white"></span>
                                </div>
                                <label>Strength</label>
                            </div>

                            <div style="float:left; width:100%;">
                                <th:block th:if="*{policy}">
                                    <div class="alert-warning" role="alert" style="padding: 1rem; margin: 1rem 0;">
                                                <span>Password must be a minimum of 9 characters long and contain at least one uppercase
                                                letter, one lowercase letter, one number, and one special character (!@#$%^&*-_=+;:,.).
                                                </span>
                                    </div>
                                </th:block>

                                <div class="alert alert-danger" role="alert" style="display:none;" id="password-warning">
                                    <strong>Warning:</strong><br/>
                                    <span></span>
                                </div>
                                <div class="alert alert-warning" role="alert" style="display:none;" id="password-suggestions">
                                    <strong>Suggestions:</strong><br/>
                                    <span></span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="current" th:text="#{section.changePasswordForm.repeat.label}">Repeat New Password</label>
                                <input type="password" class="form-control" id="repeat" th:field="*{repeat}">
                            </div>
                            <div>
                                <a id="btn-change-password"
                                   class="btn btn-primary"

                                   th:text="#{t.Save}">Save</a>
                            </div>
                        </div>

                    </div>

                </form>
            </div>
        </div>

    </div>

</div> <!-- layout:fragment="page_content" -->
<!--/* ---------------------------------------------------------------------------------------------
page_content--
---------------------------------------------------------------------------------------------- */-->

<th:block layout:fragment="bottom_script">
    <script src="/js/changePassword.js"></script>
    <script th:inline="javascript">
        /*<![CDATA[*/
        /*]]>*/
    </script>
</th:block> <!-- bottom_script -->

</body>

</html>