<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign in to Vapi Promotions</title>
</head>
<body>

<h2>
    Register in to Vapi Promotions
</h2>

<div name="reg-form">
<form action="identity/sign" method="POST">
    <label for="useremail"></label>
    <input type="text" name="useremail" id="useremail" size="50"/>

    <label for="userpw"></label>
    <input type="password" name="useremail" id="userpw" si
           ze="50"/>

    <label for="userpwConfirm"></label>
    <input type="password" name="useremailConfirm" id="userpwConform" si
           ze="50"/>

    <button type="submit">Register</button>
</div>
</form>
</body>
</html>