<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
  <head>
    <title>Dashboard</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
     <link rel="stylesheet" 
        type="text/css" href="https://cdn.datatables.net/2.2.1/css/dataTables.bootstrap5.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/fontawesome.css">
     
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" type="text/css" href="/css/responsive.css">
  </head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark top_menu fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand me-auto d_logo" href="index.html">
        <img src="/images/favicon.png" class="img-fluid main_logo">
        <span>VapidPromotion.com</span>
      </a>
      <div class="">
        <ul class="navbar-nav icon_and_avator">
        <div class="icon_only">
          <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#sidebar" aria-controls="offcanvasExample" style="outline: none;background:transparent;">
          <i class="fa fa-bars navbar-toggler-icon" data-bs-target="#sidebar" style="outline: none;background:transparent;"></i>
          </button>



        </div>  

        <li class="nav-item dropdown not_on_lg">
            <a class="nav-link dropdown-toggle right_corner_link"
            href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" >
            <img src="/images/user_avater.png" class="img-fluid user_avator">
             </a>

            <ul class="dropdown-menu dropdown-menu-end">
              <li><a class="dropdown-item" href="#"><i class="bi bi-person pe-2"></i>Profile</a></li>
              <li><a class="dropdown-item noborder" href="#"><i class="bi bi-box-arrow-right pe-2"></i>Logout</a></li>
              
            </ul>
          </li>


        <!-- icon only end -->
        <div class="contents_only">

         <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle right_corner_link"
            href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" >
            <img src="/images/user_avater.png" class="img-fluid user_avator">
             </a>

            <ul class="dropdown-menu dropdown-menu-end">
              <li><a class="dropdown-item" href="#"><i class="bi bi-person pe-2"></i>Profile</a></li>
              <li><a class="dropdown-item noborder" href="#"><i class="bi bi-box-arrow-right pe-2"></i>Logout</a></li>
              
            </ul>
          </li>
        </div>
        </ul>
        <!-- list end -->
      </div>
    </div>
    <!-- container fluid end -->
  </nav>
  <!-- nav end -->
  <!-- top navigation bar -->
    <!-- offcanvas -->
  <div class="offcanvas offcanvas-start sidebar-nav" tabindex="-1" id="sidebar">
    <div class="d-block d-lg-none text-right">
      <button type="button" class="btn-close  text-reset close_icon bg-white" data-bs-dismiss="offcanvas" aria-label="Close">
       

      </button>

    </div>
    <div class="offcanvas-body py-4 px-0">
      <nav class="navbar-dark">
       <ul class="navbar-nav sidebarnavigation">
  <li>
    <a href="/a/search-home" class="nav-link active">
      <i class="fa fa-search"></i> Twitter Searches
    </a>
  </li>
  <li>
    <a href="/a/sales-leads" class="nav-link">
      <i class="fa fa-handshake"></i> Sales Leads
    </a>
  </li>
  <li>
    <a href="/a/sales-prompt" class="nav-link">
      <i class="fa fa-robot"></i> Generate AI Message
    </a>
  </li>
  <li>
    <a href="/a/billing" class="nav-link">
      <i class="fa fa-credit-card"></i> Billing Details
    </a>
  </li>
  <li>
    <a href="/a/message-home" class="nav-link">
      <i class="fa fa-envelope"></i> Message Us
    </a>
  </li>
</ul>

        </nav>
      </div>
    </div>
    <!-- offcanvas -->
    <main class="formain">
      <div class="row py-2 d-flex align-items-center">
        <div class="col-6 col-md-9"> 
          <h2 class="sec_heading text-white border_left ps-2">Marketing Searches</h2>
        </div>
        <div class="col-6 col-md-3 text-end">
          <a href="/a/search-add" class="d_button"><i class="fa fa-plus"></i>Add New</a>
        </div>
      </div>
      <!-- row end -->


      <div class="row">
        <div class="col-12 mt-4">
          <div class="table-responsive ">
            <table id="example" class="table nowrap text-center main_table" style="width:100%">
        <thead>
            <tr >
                <th>Id</th>
                <th>Last Searched</th>
                <th>Number of Results </th>
                <th>Number of Tweets Sent </th>
                <th>Status</th>
                <!--th>Action</th-->

            </tr>
        </thead>
        <tbody class="text-center">
        <TR th:each="sr: ${searches}">
            <TD><span th:text="${sr.id}"></span></TD>
            <TD><span th:text="${sr.getResultsDateString()}"></span></TD>
            <TD><span th:text="${sr.nresults}"></span></TD>
            <TD><span th:text="${sr.nsent}"></span></TD>
            <TD th:if="${sr.resultsDate!=null}"><span>
                <ul class="action_list"><span>
                <a  th:href="${'/a/search-results/'+sr.id}"> <i class="fa fa-edit"></i> View Results</a></span></TD>
            <TD  th:unless="${sr.resultsDate!=null}"><span>No Results Yet</span></TD>
            <!--TD>  <ul class="action_list"><span>
                <a th:href="${'/a/search-edit/'+sr.id}"><i class="fa fa-edit"></i>Edit</a></span></TD-->
            <!--li><a href="#"><i class="fa fa-trash"></i></a></li-->
        </TR>

            
           
          </tbody>
        </table>
          </div>
        </div>
      </div>
      <!-- row end -->

    </main>

    <script src="/js/jquery-3.7.1.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="/js/datatables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/2.2.1/js/dataTables.js"></script>
    <script src="/js/script.js"></script>
  </body>
</html>
